@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: local('Krub Regular'), local('Krub-Regular'), url(https://fonts.gstatic.com/s/krub/v1/sZlLdRyC6CRYbkEaDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Krub", "Arial", sans-serif;
}

.container {
  width: 1024px;
  margin: 12px auto;  
}

h1 {
  font-size: 3em;
  margin-bottom: 50px;
}

h2 {
  padding-left: 15px;
  font-size: 2em;
}

section.vc {
  height: 400px;
  margin-bottom: 12px;
  padding: 0;
  background-color: lightgray;
}

.photo {
  display: inline-block;
  vertical-align:middle;
  width: 412px;
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: lightgray;
}

.photo img {
  height: 300px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.transition {
  display: inline-block;
  margin-left: -3px;
  vertical-align:middle;
  border-style: solid;
  border-width: 200px 100px;
  border-color: lightgray gray gray lightgray;
}

.contacts {
  display: inline-block;
  float: right;
  width: 412px;
  height: 100%;
  margin-left: -5px;
  vertical-align:middle;
  background-color: gray;
}

.contacts p {
  font-size: 1.2em;
  color: white;
}

.about-me {
  display: inline-block;
  width: 400px;
  background-color: lightgray;
}

.example {
  display: inline-block;
  float: right;
  width: 612px;
  background-color: rgb(235, 195, 131);
}

article {
  padding: 5px 15px;
  text-align: justify;
}

header h3{
  font-size: 1.5em;
  font-weight: 400;
  margin: 0px;
}

.raiting {
  margin-top: 0;
  margin-left: 20px;
}

.raiting img{
  display: inline-block;
  height: 15px;
}

.raiting p {
  display: inline-block;
  margin-top: 10px;
}

article p {
  font-size: 1.1em;
  text-indent: 20px;
  line-height: 1.5em;
}

pre {
  margin-top: -20px;
  margin-left: -75px;
}
